In [1]:
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = filter (lambda x: x > 4, sequences) 
print(list(filtered_result))

[10, 8, 7, 5, 11]

In [2]:
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = map (lambda x: x*x, sequences) 
print(list(filtered_result))

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

In [3]:
from functools import reduce
sequences = [1,2,3,4,5]
product = reduce (lambda x, y: x*y, sequences)
print(product)

120

In [5]:
a = ' '.join(map(lambda x: str(x*2) if x%2==0 else "", range(10)))
print(a)

0  4  8  12  16

In [6]:
weekdays = ['sun', 'mon', 'tues', 'wed', 'thurs', 'fri']
days = filter(lambda day: day if len(day)==3 else '', weekdays)
for d in days:
   print(d)

sun
mon
wed
fri

In [7]:
listofNum = [1,3,33,12,34,56,11,19,21,34,15]

In [12]:
Square_root_nd_cube = list(map(lambda x : x*2 if x < 10 else (x*3 if x < 20 else x),listofNum))
print(Square_root_nd_cube)

[2, 6, 33, 36, 34, 56, 33, 57, 21, 34, 45]

In [13]:
a=[x+y for x in [0,1,2] for y in [100,200,300]]
a

[100, 200, 300, 101, 201, 301, 102, 202, 302]

In [15]:
possible_choices = [ [drink,food] for drink in ['water', 'tea', 'juice'] for food in ['ham', 'eggs', 'spam']]
possible_choices

[['water', 'ham'],
 ['water', 'eggs'],
 ['water', 'spam'],
 ['tea', 'ham'],
 ['tea', 'eggs'],
 ['tea', 'spam'],
 ['juice', 'ham'],
 ['juice', 'eggs'],
 ['juice', 'spam']]

In [16]:
coords = [ (x,y) for x in range(5) for y in range(3) ]
coords

[(0, 0),
 (0, 1),
 (0, 2),
 (1, 0),
 (1, 1),
 (1, 2),
 (2, 0),
 (2, 1),
 (2, 2),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2)]

In [17]:
special_squares = [ x**2 for x in range(10) if x**2 > 5 and x**2 < 50 ]
special_squares

[9, 16, 25, 36, 49]

In [18]:
b_names = [ name for name in ['Anne', 'Amy', 'Bob', 'David', 'Carrie', 'Barbara', 'Zach'] if name.startswith('B') ]
b_names

['Bob', 'Barbara']

In [19]:
special_squares = [ s for s in [ x**2 for x in range(10) ] if s > 5 and s < 50 ]
special_squares

[9, 16, 25, 36, 49]